*{font-size: 12px;}
body {
	padding-top: 30px;
	padding-bottom: 20px;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}
a:focus {
    outline:none;
}
.navbar-nav>li>a{
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	height: 30px;
}
.navbar {
	min-height: 30px;
	height: 30px;
}
.navbar-toggle {
	margin-top: 6px;
	margin-bottom: 6px;
	height: 30px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #167fe8;
	color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #167fe8;
    color: #fff;
}
.navbar-nav-right{
	float:right;
}
.navbar-nav-right li a{
	padding-left:5px;
	padding-right:5px;
}
.navbar-nav-home{
	padding-top: 3px;
	padding-bottom: 3px;
}
.desktop {
	position: relative;
	left:0;
	padding: 0px;
}
.desktop ,.desktop a{ width:100%;color: #fff;}
.clear{ clear: both;}
.desktop .active{ background-image: url(../images/app_active_bg.png);}
.desktop .hover{ background-image: url(../images/app_hover_bg.png);}
.desktop .app-box{
	text-align: center;
	-moz-border-radius: 3px; /* Gecko browsers */
	-webkit-border-radius: 3px;/* Webkit browsers */
	border-radius:3px;/* W3C syntax */
}
.desktop .middle{ position:absolute;width: 80px; height: 100px;}
.desktop .middle img{ width: 60px; margin-top: 5px; margin-left: 10px;}
.desktop .middle .app-icon{float: left;}
.desktop .middle .app-name{ 
	font-size: 12px;
 	float: left;
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 18px;
    line-height: 1.7em;
    margin-top: 6px;
    padding-top: 1px;
    transition: none 0s ease 0s ;
    width: 80px;
    color: #fff;
    text-shadow: 0 0 0 #fff, 0 0 2px #000, 0 0 4px #000;
    writing-mode: horizontal-tb;
}