*{font-size: 12px;}
body {
	padding-top: 30px;
	padding-bottom: 20px;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}
a:focus {
    outline:none;
}
.navbar-nav>li>a{
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
	height: 30px;
}
.navbar {
	min-height: 30px;
	height: 30px;
}
.navbar-toggle {
	margin-top: 6px;
	margin-bottom: 6px;
	height: 30px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #167fe8;
	color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #167fe8;
    color: #fff;
}
.navbar-nav-right{
	float:right;
}
.navbar-nav-right li a{
	padding-left:5px;
	padding-right:5px;
}
.navbar-nav-home{
	padding-top: 3px;
	padding-bottom: 3px;
}
.desktop {
	position:absolute;
	left:0;
}
.desktop ,.desktop a{ width:100%;color: #fff;}
.clear{ clear: both;}
.desktop .active{ background-image: url(../images/app_active_bg.png);}
.desktop .hover{ background-image: url(../images/app_hover_bg.png);}
.desktop .app-box{
	text-align: center;
	margin-top: 20px; 
	padding:1px 10px;
	-moz-border-radius: 3px; /* Gecko browsers */
	-webkit-border-radius: 3px;/* Webkit browsers */
	border-radius:3px;/* W3C syntax */
}
.desktop .middle{ width: 80px;}
.desktop .middle img{ width: 60px;}
.desktop .middle .app-icon{float: left;}
.desktop .middle .app-name{ margin-top: 2px; float: left; width: 100%;text-shadow:#000 2px 2px 10px;}